{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "loose": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "styled-components",
    "polished"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
