{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "preval",
    "react-hot-loader/babel",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "syntax-dynamic-import",
    "styled-components",
    "polished"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
