<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="black">
  <% htmlWebpackPlugin.files.js.forEach((jsFile) => { %>
    <link rel="preload" href="<%= jsFile %>" as="script"
  ><% }) %>
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/favicon.png">
  <link rel="apple-touch-icon" href="/favicon-512.png">
  <title>minimal-react-boilerplate</title>
</head>
<body>
  <noscript>This web application requires JavaScript to run.</noscript>
  <div id="app"></div>
</body>
</html>
