@mixin breakpoint($value) {
  $bp: nth($value, 1);
  $dir: if(length($value) > 1, nth($value, 2), up);
  $mediaQuery: if($dir == 'up', min-width, max-width);

  @if type-of($bp) == 'number' and unit($bp) == 'px' {
    @media only screen and (#{$mediaQuery}: $bp) {
      @content;
    }
  } @else if map-has-key($breakpoints, $bp) {
    @media only screen and (#{$mediaQuery}: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @warn 'Could not find #{$value} in $breakpoints.';
  }
}

@mixin button {
  display: inline-block;
  vertical-align: top;
  appearance: none;
  outline: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  font-family: map-get($font, family);
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@mixin input {
  border: 0;
  border-radius: 0;
  background: transparent;
  appearance: none;
  font-family: map-get($font, family);
  line-height: 1em;

  &:focus {
    outline: none;
  }
}
