html {
  font-family: map-get($font, family);
  font-size: 10px;
  -webkit-font-smoothing: antialiased;

  & a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
  }
}

b,
strong {
  font-weight: bold;
  line-height: inherit;
}

i,
em {
  font-style: italic;
  line-height: inherit;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}
